SQL:

In [1]:
%load_ext sql
# Connect to SQLite database (creates file if it doesn't exist)
%sql sqlite:///../database/Clinic.db

Identify Purpose of the System:
1. Why is this db needed?
2. What real-world process we want to digitize?

Therefore, a clinical system will need to:
1. Store Doctor, Patient information
2. Allow Patient appointments
3. Store patients and treatment

Data to store:
Running a Clinic will require data like Patients, Doctors, Appointments, Treatment

Identifying Entities:
Entity identification is crucial for database creation. Entities allow us to decide on what tables we need for our database. It is important to focus on picking entities that are independent, logically separable, and posses their own attributes.

Creating tables:
We have to be cautious while creating tables in order to avoid outcomes like storing too much in one table, creating many fragmented tables, queries becoming unnecessarily complex.
For a clinic, we need tables such as Patients, Doctors, Appointments, Treatment

In [2]:
%%sql
DROP TABLE Treatments;
DROP TABLE Appointments;
DROP TABLE Patients;
DROP TABLE Doctors;
CREATE TABLE Patients (
    patient_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT,
    last_name TEXT,
    date_of_birth DATE,
    gender TEXT,
    phone TEXT,
    email TEXT,
    address TEXT,
    emergency_contact_name TEXT,
    emergency_contact_phone TEXT,
    known_allergies TEXT,
    chronic_conditions TEXT,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE Doctors (
    doctor_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT,
    last_name TEXT,
    specialization TEXT,
    phone TEXT,
    email TEXT,
    work_days TEXT,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE Appointments (
    appointment_id INTEGER PRIMARY KEY AUTOINCREMENT,
    patient_id INTEGER,
    doctor_id INTEGER,
    appointment_date DATE,
    appointment_time TIME,
    reason TEXT,
    status TEXT,
    notes TEXT,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id),
    FOREIGN KEY (doctor_id) REFERENCES Doctors(doctor_id)
);


CREATE TABLE Treatments (
    treatment_id INTEGER PRIMARY KEY AUTOINCREMENT,
    appointment_id INTEGER,
    patient_id INTEGER,
    doctor_id INTEGER,
    service_name TEXT,
    diagnosis TEXT,
    prescribed_meds TEXT,
    cost REAL,
    treatment_date DATE,

    FOREIGN KEY (appointment_id) REFERENCES Appointments(appointment_id),
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id),
    FOREIGN KEY (doctor_id) REFERENCES Doctors(doctor_id)
);

 * sqlite:///../database/Clinic.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

Identifying attributes:
Patients:
    patientid,
    name,
    name,
    phone

Appointments:
    appoint_id,
    patient_id,
    doctor_id,
    appointdate,
    status

INSERTING INTO A TABLE:

In [3]:
%%sql

INSERT INTO Patients 
(first_name, last_name, date_of_birth, gender, phone, email, address, 
 emergency_contact_name, emergency_contact_phone, known_allergies, chronic_conditions)
VALUES
('John', 'Doe', '1985-04-10', 'Male', '555-1010', 'john.doe@example.com', '12 Oak St', 'Jane Doe', '555-2020', 'Penicillin', 'Hypertension'),
('Jane', 'Doe', '1990-06-15', 'Female', '555-1111', 'jane.doe@example.com', '12 Oak St', 'John Doe', '555-2020', 'None', 'Asthma'),
('Mark', 'Smith', '1975-02-20', 'Male', '555-2222', 'mark.smith@example.com', '45 Pine St', 'Mary Smith', '555-3030', 'Peanuts', 'Diabetes'),
('Emily', 'Smith', '2000-09-09', 'Female', '555-3333', 'emily.smith@example.com', '45 Pine St', 'Mark Smith', '555-3030', 'None', 'None'),
('Michael', 'Brown', '1982-11-11', 'Male', '555-4444', 'michael.brown@example.com', '89 Maple Ave', 'Sara Brown', '555-5050', 'Latex', 'None'),
('Sarah', 'Brown', '1987-03-03', 'Female', '555-5555', 'sarah.brown@example.com', '89 Maple Ave', 'Michael Brown', '555-5050', 'None', 'Migraines'),
('David', 'Lee', '1995-12-12', 'Male', '555-6666', 'david.lee@example.com', '23 Cedar Rd', 'Anna Lee', '555-7070', 'None', 'Hypertension'),
('Anna', 'Lee', '1996-07-07', 'Female', '555-7777', 'anna.lee@example.com', '23 Cedar Rd', 'David Lee', '555-7070', 'None', 'None'),
('Chris', 'Johnson', '1989-04-04', 'Male', '555-8888', 'chris.johnson@example.com', '56 Birch St', 'Mary Johnson', '555-9090', 'Dust', 'None'),
('Mary', 'Johnson', '1968-01-01', 'Female', '555-9999', 'mary.johnson@example.com', '56 Birch St', 'Chris Johnson', '555-9090', 'Pollen', 'Arthritis'),
('Alice', 'Green', '1992-10-10', 'Female', '555-1212', 'alice.green@example.com', '100 Elm St', 'Tom Green', '555-3434', 'None', 'None'),
('Tom', 'Green', '1990-08-08', 'Male', '555-4545', 'tom.green@example.com', '100 Elm St', 'Alice Green', '555-3434', 'None', 'None'),
('Sophie', 'Garcia', '1983-05-05', 'Female', '555-5656', 'sophie.garcia@example.com', '77 Walnut St', 'Maria Garcia', '555-6767', 'Seafood', 'Hypertension'),
('Lucas', 'Garcia', '1980-03-14', 'Male', '555-7878', 'lucas.garcia@example.com', '77 Walnut St', 'Sophie Garcia', '555-6767', 'Peanuts', 'None'),
('Robert', 'King', '1970-09-29', 'Male', '555-8989', 'robert.king@example.com', '200 Oakwood Dr', 'Linda King', '555-9091', 'None', 'Heart Disease');




INSERT INTO Doctors 
(first_name, last_name, specialization, phone, email, work_days)
VALUES
('Alice', 'Morgan', 'Cardiology', '600-1000', 'alice.morgan@hospital.com', 'Mon,Wed,Fri'),
('Brian', 'Taylor', 'Cardiology', '600-2000', 'brian.taylor@hospital.com', 'Tue,Thu'),
('Sophia', 'Clark', 'General Medicine', '600-3000', 'sophia.clark@hospital.com', 'Mon-Fri'),
('James', 'Lopez', 'Dermatology', '600-4000', 'james.lopez@hospital.com', 'Mon,Wed'),
('Emma', 'Watson', 'General Medicine', '600-5000', 'emma.watson@hospital.com', 'Tue,Thu,Sat');


INSERT INTO Appointments
(patient_id, doctor_id, appointment_date, appointment_time, reason, status, notes)
VALUES
(1, 1, '2025-12-03', '09:00', 'Checkup', 'Completed', ''),
(2, 1, '2025-12-03', '09:30', 'Chest Pain', 'Completed', ''),
(3, 2, '2025-12-04', '10:00', 'Checkup', 'Cancelled', 'Patient unavailable'),
(4, 3, '2025-12-04', '11:00', 'Fever', 'Completed', ''),
(5, 3, '2025-12-04', '11:30', 'Cough', 'Scheduled', ''),
(6, 4, '2025-12-05', '12:00', 'Rash', 'Completed', ''),
(7, 4, '2025-12-05', '12:30', 'Skin Irritation', 'Scheduled', ''),
(8, 5, '2025-12-05', '13:00', 'Checkup', 'Completed', ''),
(9, 5, '2025-12-05', '13:30', 'Allergy', 'Cancelled', 'No-show'),
(10, 1, '2025-12-06', '14:00', 'Heart Palpitations', 'Scheduled', ''),
(11, 2, '2025-12-06', '14:30', 'Checkup', 'Completed', ''),
(12, 3, '2025-12-07', '15:00', 'Cold', 'Completed', ''),
(13, 3, '2025-12-07', '15:30', 'Flu', 'Completed', ''),
(14, 1, '2025-12-08', '16:00', 'Chest Tightness', 'Scheduled', ''),
(15, 2, '2025-12-08', '16:30', 'Checkup', 'Cancelled', 'Weather issues');


INSERT INTO Treatments
(appointment_id, patient_id, doctor_id, service_name, diagnosis, prescribed_meds, cost, treatment_date)
VALUES
(1, 1, 1, 'ECG', 'Normal', 'None', 150.00, '2025-12-03'),
(2, 2, 1, 'ECG', 'Arrhythmia', 'Beta Blocker', 200.00, '2025-12-03'),
(4, 4, 3, 'Consultation', 'Viral Fever', 'Paracetamol', 50.00, '2025-12-04'),
(6, 6, 4, 'Skin Exam', 'Dermatitis', 'Cream', 120.00, '2025-12-05'),
(8, 8, 5, 'General Checkup', 'Healthy', 'None', 100.00, '2025-12-05'),
(11, 11, 2, 'General Checkup', 'Healthy', 'None', 100.00, '2025-12-06'),
(12, 12, 3, 'Consultation', 'Common Cold', 'Vitamin C', 60.00, '2025-12-07'),
(13, 13, 3, 'Consultation', 'Flu', 'Tamiflu', 90.00, '2025-12-07'),
(3, 3, 2, 'General Checkup', 'Healthy', 'None', 100.00, '2025-12-04'),  
(5, 5, 3, 'Consultation', 'Cold', 'Cough Syrup', 60.00, '2025-12-04'),
(7, 7, 4, 'Skin Exam', 'Allergic Reaction', 'Antihistamines', 130.00, '2025-12-05'),
(9, 9, 5, 'Allergy Test', 'Allergic', 'Antihistamines', 180.00, '2025-12-05'),
(10, 10, 1, 'ECG', 'Hypertension', 'ACE Inhibitor', 220.00, '2025-12-06'),
(14, 14, 1, 'ECG', 'Arrhythmia', 'Beta Blocker', 200.00, '2025-12-08'),
(15, 15, 2, 'General Checkup', 'Healthy', 'None', 100.00, '2025-12-08');

 * sqlite:///../database/Clinic.db
15 rows affected.
5 rows affected.
15 rows affected.
15 rows affected.

[]

Identifying relationships between entities
Patients -> Doctors     (Many-to-Many: M:N)
    Add a junction table that has both M and N as Foreign Key
Patients -> Appointments (One-to-Many: 1:N)
    Add Foreign Key to Many side
Doctors -> Appointments (One-to-Many: 1:N)
Appointments -> Treatments (One-to-Many: 1:N)

# Aggregation and Grouping:
Aggregate functions are used to calculate single result value from a set of input values.
COUNT(): Returns the number of rows or non-null values.
MAX(): Returns the largest value in the selected column.
MIN(): Returns the smallest value in the selected column.
SUM(): Returns the sum of values in a numerical column.
AVG(): Returns the average(mean) value of a numeric column.

# Grouping Data with GROUP BY:
We can arrange identical data in a column by using GROUP BY. Grouping these identical data allows you to calculate values per group instead of the entire table.

# Filtering Data with HAVING:
We use WHERE clause for filtering individual rows. After we group the rows, applying WHERE is not longer useful because its execution preceeds grouping and aggregation. In order to filter these groups we use HAVING clause.

eg. Identify specialties that have generated total revenue more than $300.

In [4]:
%%sql

SELECT COUNT(a.status) as Completed_Appt,a.status, SUM(t.cost) as Total_Revenue, concat(d.first_name, ' ', d.last_name)
AS Doctor_name
FROM appointments a
INNER JOIN doctors d on a.doctor_id=d.doctor_id
INNER JOIN Treatments t on a.appointment_id=t.appointment_id
WHERE a.status='Completed'
GROUP BY d.doctor_id
HAVING Total_Revenue>150
ORDER BY d.first_name asc;

 * sqlite:///../database/Clinic.db
Done.

[(2, 'Completed', 350.0, 'Alice Morgan'),
 (3, 'Completed', 200.0, 'Sophia Clark')]

# Joins:
A join is combination of two or more tables based on a related column between them. A join allows us to query from two or more tables at once when they have certain relationship.

There are six types of joins. Let's start with the basic one - inner join.
1. Inner Join: It is used when we want to get only the rows that match among the joined tables. The tables are joined based on a matching condition.
Here, we want to find the doctors according to their specialty and the total number of appointments they have.

In [5]:
%%sql

SELECT
d.first_name AS Doctor_Name,
d.specialization,
COUNT(a.appointment_id) AS Total_Appointments
FROM Doctors d
INNER JOIN Appointments a ON d.doctor_id = a.doctor_id
GROUP BY d.first_name, d.specialization
ORDER BY Total_Appointments DESC;

 * sqlite:///../database/Clinic.db
Done.

[('Alice', 'Cardiology', 4),
 ('Sophia', 'General Medicine', 4),
 ('Brian', 'Cardiology', 3),
 ('Emma', 'General Medicine', 2),
 ('James', 'Dermatology', 2)]

2. Left Join: Left join is used when we want to return all the rows from the "left" table and the matching rows from the "right" table. NULL is included when there are no values to return.
eg. If we want to show all doctors and for each doctor, all details of their most recent appointments.

In [6]:
%%sql

SELECT a.appointment_id, d.first_name as doctor, d.specialization, concat(p.first_name,' ',p.last_name) as patient_name,
a.status 
FROM Doctors d
LEFT JOIN Appointments a on d.doctor_id=a.doctor_id
LEFT JOIN Patients p on p.patient_id=a.patient_id
ORDER BY d.first_name, a.appointment_date desc;

 * sqlite:///../database/Clinic.db
Done.

[(14, 'Alice', 'Cardiology', 'Lucas Garcia', 'Scheduled'),
 (10, 'Alice', 'Cardiology', 'Mary Johnson', 'Scheduled'),
 (1, 'Alice', 'Cardiology', 'John Doe', 'Completed'),
 (2, 'Alice', 'Cardiology', 'Jane Doe', 'Completed'),
 (15, 'Brian', 'Cardiology', 'Robert King', 'Cancelled'),
 (11, 'Brian', 'Cardiology', 'Alice Green', 'Completed'),
 (3, 'Brian', 'Cardiology', 'Mark Smith', 'Cancelled'),
 (8, 'Emma', 'General Medicine', 'Anna Lee', 'Completed'),
 (9, 'Emma', 'General Medicine', 'Chris Johnson', 'Cancelled'),
 (6, 'James', 'Dermatology', 'Sarah Brown', 'Completed'),
 (7, 'James', 'Dermatology', 'David Lee', 'Scheduled'),
 (12, 'Sophia', 'General Medicine', 'Tom Green', 'Completed'),
 (13, 'Sophia', 'General Medicine', 'Sophie Garcia', 'Completed'),
 (4, 'Sophia', 'General Medicine', 'Emily Smith', 'Completed'),
 (5, 'Sophia', 'General Medicine', 'Michael Brown', 'Scheduled')]

Right Join: It is the mirror of left join and returns all the rows of "right" table along with common from from "left" table.
eg. If we want to display the

In [7]:
%%sql

SELECT a.appointment_id, concat(p.first_name,' ',p.last_name) as patient_name, a.status, a.appointment_date 
FROM Appointments a 
RiGHT JOIN Patients p on p.patient_id=a.patient_id
ORDER BY a.appointment_date desc;

 * sqlite:///../database/Clinic.db
Done.

[(14, 'Lucas Garcia', 'Scheduled', '2025-12-08'),
 (15, 'Robert King', 'Cancelled', '2025-12-08'),
 (12, 'Tom Green', 'Completed', '2025-12-07'),
 (13, 'Sophie Garcia', 'Completed', '2025-12-07'),
 (10, 'Mary Johnson', 'Scheduled', '2025-12-06'),
 (11, 'Alice Green', 'Completed', '2025-12-06'),
 (6, 'Sarah Brown', 'Completed', '2025-12-05'),
 (7, 'David Lee', 'Scheduled', '2025-12-05'),
 (8, 'Anna Lee', 'Completed', '2025-12-05'),
 (9, 'Chris Johnson', 'Cancelled', '2025-12-05'),
 (3, 'Mark Smith', 'Cancelled', '2025-12-04'),
 (4, 'Emily Smith', 'Completed', '2025-12-04'),
 (5, 'Michael Brown', 'Scheduled', '2025-12-04'),
 (1, 'John Doe', 'Completed', '2025-12-03'),
 (2, 'Jane Doe', 'Completed', '2025-12-03')]

Full Join: A full join is the most inclusive join which combines the results of both left and right joins.
eg. if we want to display every doctor irrespective of appointments and patients if they have any appointments or not.

In [8]:
%%sql

SELECT d.doctor_id, concat('Dr.', d.first_name,' ',d.last_name) as Doctor,
p.patient_id, concat(p.first_name,' ',p.last_name) as Patient_name, 
a.appointment_id, a.status, a.appointment_date 
FROM Doctors d
full join appointments a on d.doctor_id=a.doctor_id
full join patients p on p.patient_id=a.patient_id;

 * sqlite:///../database/Clinic.db
Done.

[(1, 'Dr.Alice Morgan', 1, 'John Doe', 1, 'Completed', '2025-12-03'),
 (1, 'Dr.Alice Morgan', 2, 'Jane Doe', 2, 'Completed', '2025-12-03'),
 (1, 'Dr.Alice Morgan', 10, 'Mary Johnson', 10, 'Scheduled', '2025-12-06'),
 (1, 'Dr.Alice Morgan', 14, 'Lucas Garcia', 14, 'Scheduled', '2025-12-08'),
 (2, 'Dr.Brian Taylor', 3, 'Mark Smith', 3, 'Cancelled', '2025-12-04'),
 (2, 'Dr.Brian Taylor', 11, 'Alice Green', 11, 'Completed', '2025-12-06'),
 (2, 'Dr.Brian Taylor', 15, 'Robert King', 15, 'Cancelled', '2025-12-08'),
 (3, 'Dr.Sophia Clark', 4, 'Emily Smith', 4, 'Completed', '2025-12-04'),
 (3, 'Dr.Sophia Clark', 5, 'Michael Brown', 5, 'Scheduled', '2025-12-04'),
 (3, 'Dr.Sophia Clark', 12, 'Tom Green', 12, 'Completed', '2025-12-07'),
 (3, 'Dr.Sophia Clark', 13, 'Sophie Garcia', 13, 'Completed', '2025-12-07'),
 (4, 'Dr.James Lopez', 6, 'Sarah Brown', 6, 'Completed', '2025-12-05'),
 (4, 'Dr.James Lopez', 7, 'David Lee', 7, 'Scheduled', '2025-12-05'),
 (5, 'Dr.Emma Watson', 8, 'Anna Lee', 8, 'Completed', '2025-12-05'),
 (5, 'Dr.Emma Watson', 9, 'Chris Johnson', 9, 'Cancelled', '2025-12-05')]

Cross Join: Cross join is a cartesian product of all the rows between the joining tables. It does not require a join condition, i.e. it simply links every row from the first table to every row from the second table.
eg. Show every doctor patient assignment combination(can assist overlooking a larger scheduling)

In [9]:
# %%sql

# SELECT d.first_name,d.specialty
# FROM Doctors d 
# CROSS JOIN Patients p;

Self Join: Self join is not a distinct join but rather a logical one. It involves joining the table to itself for evaluations that would otherwise be not possible.
eg. Let us find out appointments that occured on the same day but with different doctors.

In [10]:
%%sql

SELECT a1.appointment_id, a1. appointment_date, a1.doctor_id
FROM appointments a1, appointments a2
where a1.appointment_date=a2.appointment_date
AND a1.doctor_id <> a2.doctor_id

 * sqlite:///../database/Clinic.db
Done.

[(3, '2025-12-04', 2),
 (3, '2025-12-04', 2),
 (4, '2025-12-04', 3),
 (5, '2025-12-04', 3),
 (6, '2025-12-05', 4),
 (6, '2025-12-05', 4),
 (7, '2025-12-05', 4),
 (7, '2025-12-05', 4),
 (8, '2025-12-05', 5),
 (8, '2025-12-05', 5),
 (9, '2025-12-05', 5),
 (9, '2025-12-05', 5),
 (10, '2025-12-06', 1),
 (11, '2025-12-06', 2),
 (14, '2025-12-08', 1),
 (15, '2025-12-08', 2)]

Find the total number of completed appointments and the total gross revenue generated by each doctor who has had at least one completed appointment.

In [11]:
%%sql

SELECT COUNT(a.status) as Completed_Appt, SUM(t.cost) as Total_Revenue, 
concat('Dr.', d.first_name,' ',d.last_name) as Doctor
FROM appointments a
INNER JOIN doctors d on a.doctor_id=d.doctor_id
INNER JOIN Treatments t on a.appointment_id=t.appointment_id
WHERE a.status='Completed'
GROUP BY d.doctor_id
ORDER BY d.first_name asc;

 * sqlite:///../database/Clinic.db
Done.

[(2, 350.0, 'Dr.Alice Morgan'),
 (1, 100.0, 'Dr.Brian Taylor'),
 (1, 100.0, 'Dr.Emma Watson'),
 (1, 120.0, 'Dr.James Lopez'),
 (3, 200.0, 'Dr.Sophia Clark')]

List the name and phone number of all patients whose most recent appointment status was 'Cancelled'.

In [12]:
%%sql

SELECT concat(p.first_name,' ',p.last_name) as Patient_name, p.phone,p.gender,p.address, a.status
FROM Patients p 
INNER JOIN appointments a ON p.patient_id=a.patient_id
WHERE a.status='Cancelled' 
AND (
SELECT MAX(appointment_date) as last_appt
FROM appointments
);

 * sqlite:///../database/Clinic.db
Done.

[('Mark Smith', '555-2222', 'Male', '45 Pine St', 'Cancelled'),
 ('Chris Johnson', '555-8888', 'Male', '56 Birch St', 'Cancelled'),
 ('Robert King', '555-8989', 'Male', '200 Oakwood Dr', 'Cancelled')]

1. Send reminders for upcoming appointments (next 48 hours)
select appointment_id, patient_id, concat(first_name, ' ', last_name) as patient_name
from appointments 
where status='Scheduled' and appointment_date 
2. Generate bill for a specific patient (total treatment cost)
3. Doctor’s schedule for a specific day
4. List patients who missed appointments (No-show)
5. Identify high-risk patients (chronic conditions or allergies)
6. Most common treatments performed (frequency analysis)
7. Assign doctor by specialization (patients requiring specific care)
10. Busiest doctors (by total appointments)
11. Find the doctor who generated the highest revenue
12. Top 3 most expensive treatments performed
13. Patients who have visited more than 3 times
14. Doctors with no appointments scheduled this week
15. Patients who had treatments without a prior appointment
16. Find the average treatment cost per specialty
17. Show upcoming appointments with patient age
18. List patients who were prescribed antibiotics
19. Find the busiest appointment day
20. Most common diagnosis per doctor

1. Find all double-booked appointments for the same doctor
2. Find next available appointment slot for a doctor
3. Count daily appointments for next 7 days
4. Identify patients with multiple appointments in a single day
5. Get appointment cancellation rate
6. Upcoming appointments with doctor specialization
7. Most common reason for appointments
8. Appointment time slots that are busiest
9. Find appointments with no doctor assigned
10. Late-day appointments (after 5 PM)
11. Treatments that had no diagnosis recorded
12. Find patients who received multiple treatments on the same day
13. Highest-cost treatment per doctor
14. Daily treatment revenue for past 7 days
15. Patients who were prescribed medication containing “cillin”

In [13]:
%%sql
# Send reminders for upcoming appointments (next 48 hours)

select appointment_id, patient_id, concat(first_name, ' ', last_name) as patient_name
from appointments

 * sqlite:///../database/Clinic.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # Send reminders for upcoming appointments (next 48 hours)

select appointment_id, patient_id, concat(first_name, ' ', last_name) as patient_name
from appointments]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [14]:
%%sql




-- List patients who missed appointments (No-show)
SELECT p.patient_id, concat(p.first_name, ' ', p.last_name) as patient_name, a.appointment_id,
a.appointment_date
FROM Patients p JOIN appointments a 
ON p.patient_id=a.patient_id
WHERE notes LIKE '%no-show';

-- Identify high-risk patients (chronic conditions or allergies)
SELECT patient_id, concat(first_name, ' ', last_name) as patient_name,
known_allergies, chronic_conditions
FROM Patients p 
WHERE known_allergies<>'none' 
OR chronic_conditions<>'none';

-- eg. Identify specialties that have generated total revenue more than $300.
SELECT COUNT(a.status) as Completed_Appt,a.status, SUM(t.cost) as Total_Revenue, concat(d.first_name, ' ', d.last_name)
AS Doctor_name
FROM appointments a
INNER JOIN doctors d on a.doctor_id=d.doctor_id
INNER JOIN Treatments t on a.appointment_id=t.appointment_id
WHERE a.status='Completed'
GROUP BY d.doctor_id
HAVING Total_Revenue>150
ORDER BY d.first_name asc;

-- List the name and phone number of all patients whose most recent appointment status was 'Cancelled'.
SELECT concat(p.first_name,' ',p.last_name) as Patient_name, p.phone,p.gender,p.address, a.status
FROM Patients p 
INNER JOIN appointments a ON p.patient_id=a.patient_id
WHERE a.status='Cancelled' 
AND (
SELECT MAX(appointment_date) as last_appt
FROM appointments
);

-- Top 3 most expensive treatments performed
SELECT t.patient_id, concat(p.first_name,' ',p.last_name) as patient_name, t.cost, t.service_name, t.treatment_date
FROM Treatments t
INNER JOIN Patients p
ON t.patient_id=p.patient_id
ORDER BY t.cost DESC
LIMIT 3;

-- Most common treatments performed (frequency analysis)
SELECT COUNT(prescribed_meds) as common_treatments, prescribed_meds
FROM Treatments
WHERE prescribed_meds<>'None'
GROUP BY prescribed_meds
ORDER BY common_treatments DESC;

-- Assign doctor by specialization (patients requiring specific care)
SELECT
FROM Patients p
INNER JOIN Appointments a 
ON p.patient_id=a.patient_id;

-- Busiest doctors (by total appointments)
SELECT a.doctor_id, concat('Dr.',d.first_name,' ',d.last_name) as Doctor, COUNT(a.doctor_id) as total_appointments
FROM appointments a
INNER JOIN doctors d
ON a.doctor_id=d.doctor_id
GROUP BY a.doctor_id
ORDER BY total_appointments DESC;

-- Find the average treatment cost per specialty
SELECT ROUND(AVG(t.cost),2) as average_cost, d.specialization
FROM treatments t
INNER JOIN doctors d
ON d.doctor_id=t.doctor_id
GROUP BY d.specialization;

-- Patients who have visited more than 3 times

-- Doctors with no appointments scheduled this week
SELECT 
FROM appointments a
INNER JOIN doctors d
ON a.doctor_id=d.doctor_id
WHERE a.appointment_date BETWEEN '2025-12-03' AND '2025-12-10';

 * sqlite:///../database/Clinic.db
Done.
Done.
Done.
Done.
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: -- Assign doctor by specialization (patients requiring specific care)
SELECT
FROM Patients p
INNER JOIN Appointments a
ON p.patient_id=a.patient_id;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)