SQL:

In [19]:
%load_ext sql
# Connect to SQLite database (creates file if it doesn't exist)
%sql sqlite:///../database/Clinic.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Identify Purpose of the System:
1. Why is this db needed?
2. What real-world process we want to digitize?

Therefore, a clinical system will need to:
1. Store Doctor, Patient information
2. Allow Patient appointments
3. Store patients and treatment

Data to store:
Running a Clinic will require data like Patients, Doctors, Appointments, Treatment

Identifying Entities:
Entity identification is crucial for database creation. Entities allow us to decide on what tables we need for our database. It is important to focus on picking entities that are independent, logically separable, and posses their own attributes.

Creating tables:
We have to be cautious while creating tables in order to avoid outcomes like storing too much in one table, creating many fragmented tables, queries becoming unnecessarily complex.
For a clinic, we need tables such as Patients, Doctors, Appointments, Treatment

In [20]:
%%sql
DROP TABLE Treatments;
DROP TABLE Appointments;
DROP TABLE Patients;
DROP TABLE Doctors;
CREATE TABLE Patients (
    patient_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT,
    last_name TEXT,
    date_of_birth DATE,
    gender TEXT,
    phone TEXT,
    email TEXT,
    address TEXT,
    emergency_contact_name TEXT,
    emergency_contact_phone TEXT,
    known_allergies TEXT,
    chronic_conditions TEXT,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE Doctors (
    doctor_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT,
    last_name TEXT,
    specialization TEXT,
    phone TEXT,
    email TEXT,
    work_days TEXT,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE Appointments (
    appointment_id INTEGER PRIMARY KEY AUTOINCREMENT,
    patient_id INTEGER,
    doctor_id INTEGER,
    appointment_date DATE,
    appointment_time TIME,
    reason TEXT,
    status TEXT,
    notes TEXT,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id),
    FOREIGN KEY (doctor_id) REFERENCES Doctors(doctor_id)
);


CREATE TABLE Treatments (
    treatment_id INTEGER PRIMARY KEY AUTOINCREMENT,
    appointment_id INTEGER,
    patient_id INTEGER,
    doctor_id INTEGER,
    service_name TEXT,
    diagnosis TEXT,
    prescribed_meds TEXT,
    cost REAL,
    treatment_date DATE,
    notes TEXT,

    FOREIGN KEY (appointment_id) REFERENCES Appointments(appointment_id),
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id),
    FOREIGN KEY (doctor_id) REFERENCES Doctors(doctor_id)
);

 * sqlite:///../database/Clinic.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

Identifying attributes:
Patients:
    patientid,
    name,
    name,
    phone

Appointments:
    appoint_id,
    patient_id,
    doctor_id,
    appointdate,
    status

INSERTING INTO A TABLE:

In [21]:
%%sql

INSERT INTO Patients 
(first_name, last_name, date_of_birth, gender, phone, email, address, 
 emergency_contact_name, emergency_contact_phone, known_allergies, chronic_conditions)
VALUES
('John', 'Doe', '1990-02-13', 'Male', '555-1001', 'john.doe@email.com', '123 Elm Street',
 'Jane Doe', '555-2001', 'Penicillin', 'Hypertension'),
('Emma', 'Stone', '1985-07-19', 'Female', '555-1002', 'emma.stone@email.com', '45 River Road',
 'Mark Stone', '555-2002', 'None', 'Asthma'),
('Michael', 'Brown', '1972-11-02', 'Male', '555-1003', 'michael.brown@email.com', '67 Hill Ave',
 'Sarah Brown', '555-2003', 'Aspirin', 'None'),
('Sophia', 'Clark', '1998-03-25', 'Female', '555-1004', 'sophia.clark@email.com', '19 Pine Lane',
 'James Clark', '555-2004', 'None', 'None'),
('Liam', 'Johnson', '2001-08-12', 'Male', '555-1005', 'liam.j@email.com', '88 Oak Drive',
 'Laura Johnson', '555-2005', 'Dust', 'Diabetes'),
('Olivia', 'Wilson', '1995-01-09', 'Female', '555-1006', 'olivia.w@email.com', '310 Sunset Blvd',
 'Chris Wilson', '555-2006', 'None', 'None'),
('Noah', 'Davis', '1988-04-18', 'Male', '555-1007', 'noah.d@email.com', '72 Birch Street',
 'Karen Davis', '555-2007', 'Latex', 'None'),
('Ava', 'Martinez', '1993-06-04', 'Female', '555-1008', 'ava.m@email.com', '92 Maple Ave',
 'Carlos Martinez', '555-2008', 'None', 'Migraines'),
('Ethan', 'Garcia', '1980-09-28', 'Male', '555-1009', 'ethan.g@email.com', '150 Cedar Road',
 'Maria Garcia', '555-2009', 'Gluten', 'None'),
('Mia', 'Lopez', '1999-12-14', 'Female', '555-1010', 'mia.l@email.com', '58 Willow Street',
 'Juan Lopez', '555-2010', 'None', 'Anemia');


INSERT INTO Doctors 
(first_name, last_name, specialization, phone, email, work_days)
VALUES
('Alice', 'Morgan', 'Cardiology', '555-3001', 'alice.m@clinic.com', 'Mon-Fri'),
('Robert', 'King', 'Dermatology', '555-3002', 'robert.k@clinic.com', 'Tue-Sat'),
('Linda', 'Scott', 'Pediatrics', '555-3003', 'linda.s@clinic.com', 'Mon-Fri'),
('James', 'Anderson', 'Orthopedics', '555-3004', 'james.a@clinic.com', 'Mon-Thu'),
('Karen', 'Baker', 'Neurology', '555-3005', 'karen.b@clinic.com', 'Wed-Sun'),
('Steven', 'Turner', 'General Medicine', '555-3006', 'steven.t@clinic.com', 'Mon-Fri'),
('Emily', 'Carter', 'ENT', '555-3007', 'emily.c@clinic.com', 'Mon-Sat'),
('Daniel', 'Hill', 'Ophthalmology', '555-3008', 'daniel.h@clinic.com', 'Mon-Fri'),
('Chloe', 'Evans', 'Psychiatry', '555-3009', 'chloe.e@clinic.com', 'Tue-Sat'),
('Henry', 'Ward', 'Dentistry', '555-3010', 'henry.w@clinic.com', 'Mon-Fri');

INSERT INTO Appointments
(patient_id, doctor_id, appointment_date, appointment_time, reason, status, notes)
VALUES
(1, 1, '2025-01-15', '09:00', 'Chest pain', 'Completed', 'ECG performed'),
(2, 3, '2025-01-16', '10:30', 'Fever & cough', 'Completed', 'Viral infection'),
(3, 4, '2025-01-18', '14:00', 'Knee pain', 'Scheduled', ''),
(4, 2, '2025-01-20', '11:00', 'Rash on arm', 'Completed', ''),
(5, 5, '2025-01-21', '16:00', 'Frequent headaches', 'Scheduled', ''),
(6, 6, '2025-01-22', '09:30', 'General checkup', 'Completed', ''),
(7, 7, '2025-01-23', '12:00', 'Ear pain', 'Cancelled', 'Patient no-show'),
(8, 8, '2025-01-24', '10:00', 'Vision issues', 'Completed', ''),
(9, 9, '2025-01-25', '13:30', 'Anxiety consultation', 'Scheduled', ''),
(10, 10, '2025-01-26', '15:00', 'Toothache', 'Completed', 'Dental cleaning needed');


INSERT INTO Treatments
(appointment_id, patient_id, doctor_id, service_name, diagnosis, prescribed_meds, cost, treatment_date, notes)
VALUES
(1, 1, 1, 'ECG Test', 'Mild arrhythmia', 'Beta-blockers', 250.00, '2025-01-15', ''),
(2, 2, 3, 'Flu Checkup', 'Viral flu', 'Paracetamol', 80.00, '2025-01-16', ''),
(4, 4, 2, 'Skin Examination', 'Dermatitis', 'Hydrocortisone cream', 120.00, '2025-01-20', ''),
(6, 6, 6, 'Full Body Checkup', 'Healthy', 'None', 300.00, '2025-01-22', ''),
(8, 8, 8, 'Eye Examination', 'Vision impairment', 'Eyeglasses', 150.00, '2025-01-24', ''),
(10, 10, 10, 'Dental Exam', 'Cavity', 'Antibiotics', 200.00, '2025-01-26', ''),
(3, 3, 4, 'X-Ray', 'Joint inflammation', 'Painkillers', 180.00, '2025-01-18', ''),
(5, 5, 5, 'Brain Scan', 'Migraine', 'Triptans', 500.00, '2025-01-21', ''),
(7, 7, 7, 'ENT Check', 'Ear infection', 'Antibiotics', 130.00, '2025-01-23', 'Patient did not show'),
(9, 9, 9, 'Psych evaluation', 'Generalized anxiety', 'SSRIs', 220.00, '2025-01-25', '');

 * sqlite:///../database/Clinic.db
10 rows affected.
10 rows affected.
10 rows affected.
10 rows affected.

[]

Identifying relationships between entities
Patients -> Doctors     (Many-to-Many: M:N)
    Add a junction table that has both M and N as Foreign Key
Patients -> Appointments (One-to-Many: 1:N)
    Add Foreign Key to Many side
Doctors -> Appointments (One-to-Many: 1:N)
Appointments -> Treatments (One-to-Many: 1:N)

# Aggregation and Grouping:
Aggregate functions are used to calculate single result value from a set of input values.
COUNT(): Returns the number of rows or non-null values.
MAX(): Returns the largest value in the selected column.
MIN(): Returns the smallest value in the selected column.
SUM(): Returns the sum of values in a numerical column.
AVG(): Returns the average(mean) value of a numeric column.

# Grouping Data with GROUP BY:
We can arrange identical data in a column by using GROUP BY. Grouping these identical data allows you to calculate values per group instead of the entire table.

# Filtering Data with HAVING:
We use WHERE clause for filtering individual rows. After we group the rows, applying WHERE is not longer useful because its execution preceeds grouping and aggregation. In order to filter these groups we use HAVING clause.

eg. Identify specialties that have generated total revenue more than $300.

In [33]:
%%sql

SELECT COUNT(a.status) as Completed_Appt,a.status, SUM(t.cost) as Total_Revenue, concat(d.first_name, ' ', d.last_name)
AS Doctor_name
FROM appointments a
INNER JOIN doctors d on a.doctor_id=d.doctor_id
INNER JOIN Treatments t on a.appointment_id=t.appointment_id
WHERE a.status='Completed'
GROUP BY d.doctor_id
HAVING Total_Revenue>150
ORDER BY d.first_name asc;

 * sqlite:///../database/Clinic.db
Done.

[(1, 'Completed', 250.0, 'Alice Morgan'),
 (1, 'Completed', 200.0, 'Henry Ward'),
 (1, 'Completed', 300.0, 'Steven Turner')]

# Joins:
A join is combination of two or more tables based on a related column between them. A join allows us to query from two or more tables at once when they have certain relationship.

There are six types of joins. Let's start with the basic one - inner join.
1. Inner Join: It is used when we want to get only the rows that match among the joined tables. The tables are joined based on a matching condition.
Here, we want to find the doctors according to their specialty and the total number of appointments they have.

In [34]:
%%sql

SELECT
d.first_name AS Doctor_Name,
d.specialization,
COUNT(a.appointment_id) AS Total_Appointments
FROM Doctors d
INNER JOIN Appointments a ON d.doctor_id = a.doctor_id
GROUP BY d.first_name, d.specialization
ORDER BY Total_Appointments DESC;

 * sqlite:///../database/Clinic.db
Done.

[('Alice', 'Cardiology', 1),
 ('Chloe', 'Psychiatry', 1),
 ('Daniel', 'Ophthalmology', 1),
 ('Emily', 'ENT', 1),
 ('Henry', 'Dentistry', 1),
 ('James', 'Orthopedics', 1),
 ('Karen', 'Neurology', 1),
 ('Linda', 'Pediatrics', 1),
 ('Robert', 'Dermatology', 1),
 ('Steven', 'General Medicine', 1)]

2. Left Join: Left join is used when we want to return all the rows from the "left" table and the matching rows from the "right" table. NULL is included when there are no values to return.
eg. If we want to show all doctors and for each doctor, all details of their most recent appointments.

In [35]:
%%sql

SELECT a.appointment_id, d.first_name as doctor, d.specialization, concat(p.first_name,' ',p.last_name) as patient_name,
a.status 
FROM Doctors d
LEFT JOIN Appointments a on d.doctor_id=a.doctor_id
LEFT JOIN Patients p on p.patient_id=a.patient_id
ORDER BY d.first_name, a.appointment_date desc;

 * sqlite:///../database/Clinic.db
Done.

[(1, 'Alice', 'Cardiology', 'John Doe', 'Completed'),
 (9, 'Chloe', 'Psychiatry', 'Ethan Garcia', 'Scheduled'),
 (8, 'Daniel', 'Ophthalmology', 'Ava Martinez', 'Completed'),
 (7, 'Emily', 'ENT', 'Noah Davis', 'Cancelled'),
 (10, 'Henry', 'Dentistry', 'Mia Lopez', 'Completed'),
 (3, 'James', 'Orthopedics', 'Michael Brown', 'Scheduled'),
 (5, 'Karen', 'Neurology', 'Liam Johnson', 'Scheduled'),
 (2, 'Linda', 'Pediatrics', 'Emma Stone', 'Completed'),
 (4, 'Robert', 'Dermatology', 'Sophia Clark', 'Completed'),
 (6, 'Steven', 'General Medicine', 'Olivia Wilson', 'Completed')]

Right Join: It is the mirror of left join and returns all the rows of "right" table along with common from from "left" table.
eg. If we want to display the

In [36]:
%%sql

SELECT a.appointment_id, concat(p.first_name,' ',p.last_name) as patient_name, a.status, a.appointment_date 
FROM Appointments a 
RiGHT JOIN Patients p on p.patient_id=a.patient_id
ORDER BY a.appointment_date desc;

 * sqlite:///../database/Clinic.db
Done.

[(10, 'Mia Lopez', 'Completed', '2025-01-26'),
 (9, 'Ethan Garcia', 'Scheduled', '2025-01-25'),
 (8, 'Ava Martinez', 'Completed', '2025-01-24'),
 (7, 'Noah Davis', 'Cancelled', '2025-01-23'),
 (6, 'Olivia Wilson', 'Completed', '2025-01-22'),
 (5, 'Liam Johnson', 'Scheduled', '2025-01-21'),
 (4, 'Sophia Clark', 'Completed', '2025-01-20'),
 (3, 'Michael Brown', 'Scheduled', '2025-01-18'),
 (2, 'Emma Stone', 'Completed', '2025-01-16'),
 (1, 'John Doe', 'Completed', '2025-01-15')]

Full Join: A full join is the most inclusive join which combines the results of both left and right joins.
eg. if we want to display every doctor irrespective of appointments and patients if they have any appointments or not.

In [38]:
%%sql

SELECT d.doctor_id, concat('Dr.', d.first_name,' ',d.last_name) as Doctor,
p.patient_id, concat(p.first_name,' ',p.last_name) as Patient_name, 
a.appointment_id, a.status, a.appointment_date 
FROM Doctors d
full join appointments a on d.doctor_id=a.doctor_id
full join patients p on p.patient_id=a.patient_id;

 * sqlite:///../database/Clinic.db
Done.

[(1, 'Dr.Alice Morgan', 1, 'John Doe', 1, 'Completed', '2025-01-15'),
 (2, 'Dr.Robert King', 4, 'Sophia Clark', 4, 'Completed', '2025-01-20'),
 (3, 'Dr.Linda Scott', 2, 'Emma Stone', 2, 'Completed', '2025-01-16'),
 (4, 'Dr.James Anderson', 3, 'Michael Brown', 3, 'Scheduled', '2025-01-18'),
 (5, 'Dr.Karen Baker', 5, 'Liam Johnson', 5, 'Scheduled', '2025-01-21'),
 (6, 'Dr.Steven Turner', 6, 'Olivia Wilson', 6, 'Completed', '2025-01-22'),
 (7, 'Dr.Emily Carter', 7, 'Noah Davis', 7, 'Cancelled', '2025-01-23'),
 (8, 'Dr.Daniel Hill', 8, 'Ava Martinez', 8, 'Completed', '2025-01-24'),
 (9, 'Dr.Chloe Evans', 9, 'Ethan Garcia', 9, 'Scheduled', '2025-01-25'),
 (10, 'Dr.Henry Ward', 10, 'Mia Lopez', 10, 'Completed', '2025-01-26')]

Cross Join: Cross join is a cartesian product of all the rows between the joining tables. It does not require a join condition, i.e. it simply links every row from the first table to every row from the second table.
eg. Show every doctor patient assignment combination(can assist overlooking a larger scheduling)

In [29]:
# %%sql

# SELECT d.first_name,d.specialty
# FROM Doctors d 
# CROSS JOIN Patients p;

Self Join: Self join is not a distinct join but rather a logical one. It involves joining the table to itself for evaluations that would otherwise be not possible.
eg. Let us find out appointments that occured on the same day but with different doctors.

In [39]:
%%sql

SELECT a1.appointment_id, a1. appointment_date, a1.doctor_id
FROM appointments a1, appointments a2
where a1.appointment_date=a2.appointment_date
AND a1.doctor_id <> a2.doctor_id

 * sqlite:///../database/Clinic.db
Done.

[]

Find the total number of completed appointments and the total gross revenue generated by each doctor who has had at least one completed appointment.

In [41]:
%%sql

SELECT COUNT(a.status) as Completed_Appt, SUM(t.cost) as Total_Revenue, 
concat('Dr.', d.first_name,' ',d.last_name) as Doctor
FROM appointments a
INNER JOIN doctors d on a.doctor_id=d.doctor_id
INNER JOIN Treatments t on a.appointment_id=t.appointment_id
WHERE a.status='Completed'
GROUP BY d.doctor_id
ORDER BY d.first_name asc;

 * sqlite:///../database/Clinic.db
Done.

[(1, 250.0, 'Dr.Alice Morgan'),
 (1, 150.0, 'Dr.Daniel Hill'),
 (1, 200.0, 'Dr.Henry Ward'),
 (1, 80.0, 'Dr.Linda Scott'),
 (1, 120.0, 'Dr.Robert King'),
 (1, 300.0, 'Dr.Steven Turner')]

List the name and phone number of all patients whose most recent appointment status was 'Cancelled'.

In [43]:
%%sql

SELECT concat(p.first_name,' ',p.last_name) as Patient_name, p.phone,p.gender,p.address, a.status
FROM Patients p 
INNER JOIN appointments a ON p.patient_id=a.patient_id
WHERE a.status='Cancelled' 
AND (
SELECT MAX(appointment_date) as last_appt
FROM appointments
);

 * sqlite:///../database/Clinic.db
Done.

[('Noah Davis', '555-1007', 'Male', '72 Birch Street', 'Cancelled')]

1. Send reminders for upcoming appointments (next 48 hours)
select appointment_id, patient_id, concat(first_name, ' ', last_name) as patient_name
from appointments 
where status='Scheduled' and appointment_date 
2. Generate bill for a specific patient (total treatment cost)
3. Doctor’s schedule for a specific day
4. List patients who missed appointments (No-show)
5. Identify high-risk patients (chronic conditions or allergies)
6. Most common treatments performed (frequency analysis)
7. Assign doctor by specialization (patients requiring specific care)
10. Busiest doctors (by total appointments)
11. Find the doctor who generated the highest revenue
12. Top 3 most expensive treatments performed
13. Patients who have visited more than 3 times
14. Doctors with no appointments scheduled this week
15. Patients who had treatments without a prior appointment
16. Find the average treatment cost per specialty
17. Show upcoming appointments with patient age
18. List patients who were prescribed antibiotics
19. Find the busiest appointment day
20. Most common diagnosis per doctor

1. Find all double-booked appointments for the same doctor
2. Find next available appointment slot for a doctor
3. Count daily appointments for next 7 days
4. Identify patients with multiple appointments in a single day
5. Get appointment cancellation rate
6. Upcoming appointments with doctor specialization
7. Most common reason for appointments
8. Appointment time slots that are busiest
9. Find appointments with no doctor assigned
10. Late-day appointments (after 5 PM)
11. Treatments that had no diagnosis recorded
12. Find patients who received multiple treatments on the same day
13. Highest-cost treatment per doctor
14. Daily treatment revenue for past 7 days
15. Patients who were prescribed medication containing “cillin”