SQL:

In [2]:
%load_ext sql
# Connect to SQLite database (creates file if it doesn't exist)
%sql sqlite:///../database/Clinic.db

Identify Purpose of the System:
1. Why is this db needed?
2. What real-world process we want to digitize?

Therefore, a clinical system will need to:
1. Store Doctor, Patient information
2. Allow Patient appointments
3. Store patients and treatment

Data to store:
Running a Clinic will require data like Patients, Doctors, Appointments, Treatment

Identifying Entities:
Entity identification is crucial for database creation. Entities allow us to decide on what tables we need for our database. It is important to focus on picking entities that are independent, logically separable, and posses their own attributes.

Creating tables:
We have to be cautious while creating tables in order to avoid outcomes like storing too much in one table, creating many fragmented tables, queries becoming unnecessarily complex.
For a clinic, we need tables such as Patients, Doctors, Appointments, Treatment

In [3]:
%%sql

DROP TABLE IF EXISTS Treatments;
DROP TABLE IF EXISTS Appointments;
DROP TABLE IF EXISTS Patients;
DROP TABLE IF EXISTS Doctors;

CREATE TABLE Doctors (
    doctor_id INTEGER PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    specialty VARCHAR(50) NOT NULL,
    hourly_rate DECIMAL(8, 2)
);

CREATE TABLE Patients (
    patient_id INTEGER PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    phone VARCHAR(15) UNIQUE
);

CREATE TABLE Appointments (
    appoint_id INTEGER PRIMARY KEY,
    patient_id INT NOT NULL,
    doctor_id INT NOT NULL,
    appoint_date DATE NOT NULL,
    status TEXT CHECK(status IN ('Scheduled', 'Completed', 'Cancelled')),
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id),
    FOREIGN KEY (doctor_id) REFERENCES Doctors(doctor_id)
);

CREATE TABLE Treatments (
    treatment_id INTEGER PRIMARY KEY,
    appoint_id INT NOT NULL,
    service_name VARCHAR(50) NOT NULL,
    cost DECIMAL(8, 2) NOT NULL,
    FOREIGN KEY (appoint_id) REFERENCES Appointments(appoint_id)
);

 * sqlite:///../database/Clinic.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

Identifying attributes:
Patients:
    patientid,
    name,
    name,
    phone

Appointments:
    appoint_id,
    patient_id,
    doctor_id,
    appointdate,
    status

In [4]:
%%sql

INSERT INTO Doctors (first_name, specialty, hourly_rate) VALUES
('Dr. Rima', 'Cardiology', 2500.00),
('Dr. Hari', 'General Practice', 1500.00);

INSERT INTO Patients (name, phone) VALUES
('Anil Shrestha', '9848000001'),
('Bimala Thapa', '9848000002'),
('Chetan Rai', '9848000003'); 

INSERT INTO Appointments (patient_id, doctor_id, appoint_date, status) VALUES
(1, 1, '2025-12-01', 'Completed'), 
(2, 2, '2025-12-01', 'Completed'), 
(1, 2, '2025-12-02', 'Scheduled'), 
(2, 1, '2025-12-03', 'Cancelled'); 

INSERT INTO Treatments (appoint_id, service_name, cost) VALUES
(1, 'ECG Scan', 1500.00), 
(1, 'Consultation', 2500.00), 
(2, 'Checkup', 1500.00);

 * sqlite:///../database/Clinic.db
2 rows affected.
3 rows affected.
4 rows affected.
3 rows affected.

[]

Identifying relationships between entities
Patients -> Doctors     (Many-to-Many: M:N)
    Add a junction table that has both M and N as Foreign Key
Patients -> Appointments (One-to-Many: 1:N)
    Add Foreign Key to Many side
Doctors -> Appointments (One-to-Many: 1:N)
Appointments -> Treatments (One-to-Many: 1:N)

In [7]:
%%sql

SELECT service_name, cost
FROM Treatments
ORDER BY cost DESC
LIMIT 1;

 * sqlite:///../database/Clinic.db
Done.

[('Consultation', 2500)]

In [8]:
%%sql

SELECT appoint_id, appoint_date, status
FROM Appointments
ORDER BY appoint_date DESC
LIMIT 1;

 * sqlite:///../database/Clinic.db
Done.

[(4, '2025-12-03', 'Cancelled')]

Counting Appointments by Doctor:
Aggregation and Grouping

In [10]:
%%sql

SELECT
d.first_name AS Doctor_Name,
d.specialty,
COUNT(a.appoint_id) AS Total_Appointments
FROM Doctors d
INNER JOIN Appointments a ON d.doctor_id = a.doctor_id
GROUP BY d.first_name, d.specialty
ORDER BY Total_Appointments DESC;

 * sqlite:///../database/Clinic.db
Done.

[('Dr. Hari', 'General Practice', 2), ('Dr. Rima', 'Cardiology', 2)]