In [1]:
%load_ext sql
# Connect to SQLite database (creates file if it doesn't exist)
%sql sqlite:///../database/demo.db

In [2]:
%%sql

CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    email TEXT,
    country TEXT
);

 * sqlite:///../database/demo.db
Done.

[]

In [3]:
%%sql

INSERT INTO users (name, email, country) VALUES
('Alice', 'alice@example.com', 'USA'),
('Bob', 'bob@example.com', 'Canada'),
('Carlos', 'carlos@example.com', 'Mexico');

 * sqlite:///../database/demo.db
3 rows affected.

[]

In [ ]:
%%sql

SELECT * FROM users limit 5;

 * sqlite:///../database/demo.db
Done.

[(1, 'Alice', 'alice@example.com', 'USA'),
 (2, 'Bob', 'bob@example.com', 'Canada'),
 (3, 'Carlos', 'carlos@example.com', 'Mexico'),
 (4, 'Alice', 'alice@example.com', 'USA'),
 (5, 'Bob', 'bob@example.com', 'Canada')]